{$MUNKI_HOSTNAME}:{$MUNKI_PORT}

gzip
errors
log stdout
root /data
browse /repo
tls {$MUNKI_TLS_EMAIL}
ape {$MUNKI_REPO_PATH}
# basicauth /repo {$MUNKI_AUTH_USER} {$MUNKI_AUTH_PASSWORD}
# basicauth /admin {$MUNKI_AUTH_USER} {$MUNKI_AUTH_PASSWORD}
